/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family:'Poppins',sans-serif;
    background:#f4f7fc;
}

/* Header */

.container-fluid{

    background:linear-gradient(135deg,#2563eb,#7c3aed);

}

/* Cards */

.card{

    border:none;
    border-radius:15px;
    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);

}

/* Buttons */

.btn{

    border-radius:10px;
    transition:.3s;

}

.btn:hover{

    transform:translateY(-2px);

}